.div-building {
  /*position: absolute;*/
  position: relative;
  display: flex;
  margin: 1px;
  padding: 0;
  flex-flow: row wrap;
  border: 1px solid black;
}
.react-resizable {
  position: relative;
}

